<!DOCTYPE html>  
<html>  
  <head>
    <title>新闻爬虫系统<%= title %></title>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      body{
          background-color: #e6e6e6;
      }
      nav{
        position: fixed;
        padding: 0;
      }
      a,li,p{
        color:#fff;
        margin:0;
      }
      a:hover{
        color:#fff;
        text-decoration: none;
      }
      .container{
        background-color: grey;
      }
      .welcome{
        text-align: center;
      }
      .col-center-block{  
          float: none;  
          display: block;
          margin-left: auto;  
          margin-right: auto;  
      }
      form {
        color: #fff;
      }
      label{
        display: inline-block;
        cursor: pointer;
        margin:0 auto;
      }
       .container{
        color: #21759b;
        background-color: #f6f8fa;
      }
      .container form{
        color:#21759b;
      }
    </style>
  </head>  
  <body>
    <nav class="navbar sticky-top bg-dark flex-md-nowrap">
      <p>爬虫新闻系统<%= title %></p>
      <div style="display:inline-block;position: absolute;right: 20px;">
          <a href="/user">返回用户中心</a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
         <div class="col-xs-12 col-center-block">
           <form action="/manage" method="POST">
            <%= username %>用户您好！请选择您感兴趣的网站：<br><br>
               <%- allSitesModel %>
               <br>
               <button id="submit" class="btn btn-md btn-primary btn-block" type="submit">提交并返回用户中心</button>
          </form>
         </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>  