<!DOCTYPE html>  
<html>  
  <head>
    <title>新闻爬虫系统<%= title %></title>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      body{
        background-color: #e6e6e6;
      }
      nav{
        position: fixed;
        padding: 0;
      }
      a,li,p{
        color:#fff;
        margin:0;
        list-style: none;
        text-decoration: none;
      }
      a:hover{
        color:#fff;
        text-decoration: none;
      }
      .welcome{
        text-align: center;
      }
       .container{
        color: #21759b;
        background-color: #f6f8fa;
      }
      .container a{
        color:#21759b;
      }
    </style>
  </head>  
  <body>
    <nav class="navbar sticky-top bg-dark flex-md-nowrap">
      <p><%= username %>，以下是您定制的新闻噢！</p>
      <div style="display:inline-block;position: absolute;right: 20px;">
          <a href="/manage">定制新闻</a>
          <a href="/logout">退出</a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
         <%- userLikedSitesModel %>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>  